@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");
* {
  box-sizing: border-box;
}

body {
  font-family: Raleway, sans-serif;
}

.windows-wrapper {
  background-color: #F0F0F0;
  min-height: 100vh;
  display: flex;
}
.windows-wrapper .window {
  flex: 1;
  background-color: transparent;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: multiply;
  padding: 0px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  transition: all 0.5s ease-in-out;
}
.windows-wrapper .window:hover {
  flex: 5;
  background-color: #999;
}
.windows-wrapper .window:hover .count {
  transform: none;
  top: 15px;
  font-size: 4rem;
}
.windows-wrapper .window:hover .content {
  opacity: 1;
}
.windows-wrapper .window .count {
  font-size: 8.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition-timing-function: ease-in-out;
  transition: transform 0.3s, top 0.5s, left 0.5s, font-size 0.3s;
  color: #FFF;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 10;
}
.windows-wrapper .window .content {
  opacity: 0;
  min-width: 50vw;
  max-width: 50vw;
  text-align: center;
  font-size: 1.6rem;
  color: #FFF;
  line-height: 2rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: opacity 0.5s ease-in-out;
}
@media (max-width: 600px) {
  .windows-wrapper {
    flex-direction: column;
  }
  .windows-wrapper .window .count {
    font-size: 7rem;
  }
  .windows-wrapper .window .content {
    min-width: 90vw;
    max-width: 90vw;
  }
  .windows-wrapper .window:hover .count {
    left: 15px;
  }
}