*{
  marign: 0;
  padding: 0;
  box-sizing: border-box;
  background: #0a0a0a;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

img{
  animation: fadeIn 3s linear;
}

@keyframes fadeIn{
  0% { 
    opacity: 0; 
    filter: brightness(1) blur(20px);
  }
  10% { 
    opacity: 1; 
    filter: brightness(2) blur(10px);
  }
  100% { 
    opacity: 1; 
    filter: brightness(1) blur(0);
  }
}