#fire{
text-align: center;
margin: 200px auto;
font-family: "Comic Sans MS";
font-size: 80px;
color: white;
text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85, -20px -20px 40px #ffae34, 20px -40px 50px #ec760c, -20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e;

}

body {background:black; }