body{
		background-color: #000066;
    padding:0;
    margin:0;
	}
		.mycanvas{
			background-color: #00004d;
			position: absolute;
            width:900px;
            height:900px;
            border-radius:50%;  
            margin: auto;
            left:0;
            right: 0;
            top:0;
            bottom:0;
            transform: scale(0.4);
		}
		.dino{
			position: relative;
			top:250px;
			left:50px;
			transform: rotate(15deg);
			animation:hug 3s infinite; 
			transform-origin: left;
		}
		@keyframes hug{
			50%{
				transform:rotate(35deg);
			}
		}
		.dino1{
			position: relative;
			bottom:885px;
			left:850px;
			
			transform:rotateY(180deg)rotate(15deg);
			animation:hug1 3s infinite; 
			transform-origin: left;
		}
		@keyframes hug1{
			50%{
				transform:rotateY(180deg) rotate(35deg);
			}
		}
		.face{
			background-color: #49b571;
			height: 80px;
			width: 110px;
			border-radius:20px 35px 35px 20px; 
			position: relative;
		}
		.eye{
			background-color: #2c2d31;
			height: 22px;
			width: 20px;
			border-radius: 50%;
			position: relative;
			top:15px;
			left:55px;
		}
		.mouth{
			background-color: #f1f0ea;
			height: 3px;
			width: 40px;
			position: relative;
			top:25px;
			left:69px;
			transform:rotate(-10deg); 
			}
			
		.teeth1,.teeth2,.teeth3,.teeth4{
			height: 0;
			width: 0;
			position: relative;
		}
		.teeth1{
			border-top:12px solid #f1f0ea;
			border-left:7px solid transparent;
			border-right:7px solid transparent;
			left:27.5px;

		}
		.teeth2{
			border-top:12px solid #f1f0ea;
			border-left:7px solid transparent;
			border-right:7px solid transparent;
			bottom:11px;
			left:15px;
		}
		.teeth3{
			border-top:12px solid #f1f0ea;
			border-left:7px solid transparent;
			border-right:7px solid transparent;
			bottom:23px;
			left:6px;
		}
		.teeth4{
			border-top:12px solid #f1f0ea;
			border-left:5px solid transparent;
			border-right:5px solid transparent;
			bottom:36px;
			right:1px;
		}
		.eyeball{
			background-color: #f1f0ea;
			height: 8px;
			width: 8px;
			border-radius: 50%;
			position:relative;
			left:8px;
			top:4px; 
		}
		.neck{
			background-color: #49b571;
			height: 200px;
			width: 50px;
			border-radius:20px;
			position: relative;
			bottom:78px;
			right: 10px;
			transform: rotate(4deg); 
		}
		.body{
			height:150px; 
			background-color: #49b571;
			width:250px;
			border-radius:100px 0 30px 0;
			position: relative;
			bottom:120px; 
			right:215px;  
		}
		.tail{
			width: 0;
			height: 0;
			border-right:180px solid #49b571; 
			border-top:60px solid transparent;
			border-bottom:0px solid transparent;
			position: relative;
			bottom:177px; 
			right: 340px;
			transform: rotate(-3deg);
		}
		.leg1,.leg2,.leg3,.leg4{
			background-color: #49b571; 
			height: 55px;
			width: 37px;
			position: relative;
		}
		.leg1{
			bottom:180px;
			right: 180px; 
		}
		.leg2{
			bottom:235px;
			right: 130px;
		}
		.leg3{
			bottom:290px;
			right: 80px;
		}
		.leg4{
			bottom:345px;
			right: 30px;
		}
		.scales{
			position: relative;
			bottom:520px;
			z-index: -1;
		}
		.s1,.s2,.s3,.s4{
			height: 0;
			width: 0;
			border-right:20px solid #33804f ;
			border-top: 10px solid transparent ;
			border-bottom: 10px solid transparent ;
			transform: rotate(7deg);
			position: relative;
			
		}
		.s1{
			
			bottom:180px;
			right: 21px;
		}
		.s2{
			bottom:160px;
			right: 24px;
		}
		.s3{
			bottom:140px;
			right: 27px;
		}
		.s4{
			bottom:120px;
			right: 29px;
		}
		.s5,.s6,.s7,.s8,.s9,.s10,.s11,.s12,.s13,.s14{
			height: 0;
			width: 0;
			border-bottom:20px solid #33804f ;
			border-left: 10px solid transparent ;
			border-right: 10px solid transparent ;
			position: relative;

		}
		.s5{
			bottom:125px;
			right: 45px;
		}
		.s6{
			bottom:145px;
			right: 85px;
		}
		.s7{
			bottom:165px;
			right: 125px;
		}
		.s8{
			bottom:175px;
			right: 165px;
			transform: rotate(-20deg);
		}
		.s9{
			bottom:175px;
			right: 197px;
			transform: rotate(-37deg);
		}
		.s10{
			bottom:165px;
			right: 218px;
			transform: rotate(-65deg);
		}
		.s11{
			bottom:145px;
			right: 229px;
			transform: rotate(-81deg);
		}
		.s12{
			bottom:148px;
			right: 245px;
			transform: rotate(-26deg);
		}
		.s13{
			bottom:155px;
			right: 275px;
			transform: rotate(-20deg);
		}
		.s14{
			bottom:165px;
			right: 305px;
			transform: rotate(-20deg);
		}
		.spots{
			position: relative;
			bottom:700px;
		}
		.sp1{
			background-color: #33804f;
			width:50px;
			height:40px;
			border-radius: 50%;
			position: relative;
			bottom:115px;
			right: 85px;
			transform: rotate(-10deg);
		}
		.sp2{
			background-color: #33804f;
			width:35px;
			height:35px;
			border-radius: 50%;
			position: relative;
			bottom:80px;
			right: 200px;
		}
		.sp3{
			background-color: #33804f;
			width:20px;
			height:20px;
			border-radius: 50%;
			position: relative;
			bottom:215px;
			left:5px;
		}
		.sp4{
			background-color:#33804f;
			width:30px;
			height:30px;
			border-radius: 50%;
			position: relative;
			bottom:140px;
			right:25px;
		}
		.sp5{
			background-color:#33804f;
			width:18px;
			height:18px;
			border-radius: 50%;
			position: relative;
			bottom:180px;
			right:115px;
		}
		
		.bow{
			background-color: #ff6666;
			height: 20px;
			width: 20px;
			position: relative;
			border-radius: 50%;
			bottom:20px;
			transform: rotate(-25deg);
			z-index:2;
		}
		.b1{
			height: 30px;
			width: 30px;
			background-color: #ff6666;
			position: relative;
			right: 30px;
			bottom:5px;
			border-radius: 30px 10px 5px ;
			transform: rotate(-45deg);
		}
		.b2{
			height: 30px;
			width: 30px;
			background-color: #ff6666;
			position: relative;
			left: 18px;
			bottom:35px;
			border-radius: 30px 10px 5px ;
			transform: rotate(135deg);
		}
		.heart{
			height:60px;
			width: 60px;
			background-color: #ff6666;
			position: relative;
			bottom:2000px;
			left:420px;
			transform: rotate(45deg); 
			opacity: 0;
			animation:love 3s infinite;
		}
		@keyframes love{
			50%{
				opacity: 1;
			}
		}
		.h1{
			height: 30px;
			width: 60px;
			background-color: #ff6666;
			position: relative;
			bottom:29px;
			border-radius: 30px 30px 0 0;
		}
		.h2{
			height: 60px;
			width: 30px;
			background-color: #ff6666;
			position: relative;
			bottom:30px;
			right:29px;
			border-radius: 30px 0px 0px 30px; 
		}